/* секция герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
}

.hero-contenier {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* оформление секций */
.contanier .list-section {
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-flex;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.icon-logo {
  fill: #afb1b8;
}

.icon-logo:hover,
.icon-logo:focus {
  fill: #2196f3;
}

.social {
  display: flex;
  justify-content: center;
}

.icon-social {
  display: inline-flex;
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  justify-content: center;
  border-radius: 50%;
}

.team-list .icon-social + .icon-social {
  margin-left: 10px;
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--color-accent);
}

.icon-social:hover .icon-team,
.icon-social:focus .icon-team {
  fill: #ffffff;
}

.list-section .list-text + .list-text {
  margin-left: 30px;
}

.work-list {
  display: flex;
  justify-content: center;
}

.subtitle {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;

  text-transform: uppercase;

  color: var(--color-text-h);
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.title-section {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-text-h);
}

.title {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;

  color: var(--color-text-h);
}

.text-team {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.section-work {
  padding-bottom: 94px;
}

.section-team {
  background-color: var(--background-color-tiam);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-photo {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-photo + .team-photo {
  margin-left: 30px;
}

.list-clients {
  display: flex;
}

.linc-clients {
  display: inline-flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  outline: none;
}

.list-clients .clients + .clients {
  margin-left: 30px;
}

.linc-clients:hover,
.linc-clients:focus {
  border: 1px solid var(--color-accent);
}

.linc-clients:hover .icon-logo,
.linc-clients:focus .icon-logo {
  fill: var(--color-accent);
}

.icon-media {
  display: inline-flex;
  margin-top: 20px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  justify-content: center;
  border-radius: 50%;
}

.media-list > .list-media + .list-media {
  margin-left: 10px;
}

.icon-media:hover,
.icon-media:focus {
  background-color: var(--color-accent);
  fill: #ffffff;
}

.media {
  margin-left: 70px;
}

.text-media {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.media-list {
  display: flex;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* чем мы занимаемся */

.work-photo {
  position: relative;
  overflow: hidden;
}

.work-photo:hover .work-text-contanier {
  transform: translateY(0);
}

.work-list .work-photo + .work-photo {
  margin-left: 30px;
}

.work-text-contanier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 27px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(75%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) transform 0.25s;
}

.work-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* кнопка закрытия модального окна */

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.close {
}
