.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-contenier {
  display: block;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: -30px;
  margin-top: -30px;
}

.card-list {
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
}

.card-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subtitle {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.button-filter .button-list + .button-list {
  margin-left: 8px;
}

.filter {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.filter:hover,
.filter:focus {
  color: #ffffff;
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list:hover .card-contanier {
  transform: translateY(0);
}

.card-content {
  position: relative;
  overflow: hidden;
}

.card-contanier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 64px 24px;
  text-align: left;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) transform 0.25s;
}

.card-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}
